footer{
    box-shadow: 0 0 7px 3px #EBEBEF;
    color: #3b3663;
}

.footer-top{
    padding: 30px 0;
}
.footer-main{
    grid-template-columns: 30% 20% 20% 20%;
    line-height: 32px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #EBEBEF;
    border-top: 1px solid #EBEBEF;
    padding-bottom: 50px ;
}
.footer-heading{
    margin: 50px 0;
    color: #3b3663;
}

.footer-bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.main-footer-section{
    margin: 0 10px;
}
.footer-right-subscription,footer-left-contact-details{
    width: 100%;
}

@media only screen and (max-width:500px){
    .footer-right-subscription input{width: 60%!important;}
    .footer-right-subscription button{width: 100px!important;}
}
.footer-contact{
    /* width: 50%; */
    padding: 10px;
}
