footer{
    box-shadow: 0 0 7px 3px #EBEBEF;
    color: #3b3663;
}

.footer-top{
    height: 50px;
}
.footer-main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 32px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #EBEBEF;
    border-top: 1px solid #EBEBEF;
    padding-bottom: 50px ;
}
/* .footer-main .grey-para{
} */
.footer-heading{
    margin: 50px 0;
    color: #3b3663;
}
.sm-ft-section{
    width: 20%;
}
.lg-ft-section{
    width: 30%;
}
.footer-bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}